<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [5]:
# write your answer here
Course = 'INFO 5731'
len(Course)

9

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [9]:
# write your answer here
def count_char(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
course_name= "computational methods for information systems"
print('String Given:',course_name)
print('No of Characters:',count_char(course_name))

String Given: computational methods for information systems
No of Characters: {'c': 1, 'o': 6, 'm': 4, 'p': 1, 'u': 1, 't': 5, 'a': 3, 'i': 3, 'n': 3, 'l': 1, ' ': 4, 'e': 2, 'h': 1, 'd': 1, 's': 4, 'f': 2, 'r': 2, 'y': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [11]:
# write your answer here
def sum_items(items):
    sum = 0
    for x in items:
        sum += x
    return sum

list_items= [20,5,10,-44,72]
print("Items in the List:", list_items)
print("Sum of List = ",sum_items(list_items))

Items in the List: [20, 5, 10, -44, 72]
Sum of List =  63

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [14]:
# write your answer here
def change_char(str1):
  first_char = str1[0]
  str1 = str1.replace(str1[0], '$')
  str1 = first_char + str1[1:]

  return str1


print(change_char('glowing'))

glowin$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [17]:
# write your answer here
a=55
b=5
s=3.14*((1+a/b)**3) 
print("a=",a,"\nb=",b,'\ns= 3.14*((1+a/b)**3)')
print("s=",s)

a= 55
b= 5
s= 3.14*((1+a/b)**3)
s= 5425.92

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [33]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4 = {}
for d in (dic1, dic2, dic3): 
  dic4.update(d)
print("Concatenated Dictionary 1",dic4)

dic_a={"Name": ["Jai", "Ram"],
       "Age": [23, 24]}
dic_b={"Year of Birth": [1998,1999], "Country":"India" }
dic_c={}
for dic in (dic_a,dic_b): 
  dic_c.update(dic)
print("Concatenated Dictionary 2",dic_c)

Concatenated Dictionary 1 {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Concatenated Dictionary 2 {'Name': ['Jai', 'Ram'], 'Age': [23, 24], 'Year of Birth': [1998, 1999], 'Country': 'India'}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [41]:
# write your answer here
tup1 = ("a",'b','c','d','e',"f","g")
tup="a"
if tup in tup1:
    print("Element",tup,"found in tupple")
else:
    print("Element", tup,"Not found in tupple")
  
#alternative boolean representation
print(5 in tup1)
print('g' in tup1)

Element a found in tupple
False
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [47]:
# write your answer here
set_1 = {10,2.5,6,26,17,19,72,-12,72.9}
print("Set:",set_1)        
print("Min Value:",min(set_1))
print("Max Value:",max(set_1))

Set: {2.5, 6, 72, 72.9, 10, 17, 19, -12, 26}
Min Value: -12
Max Value: 72.9

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [54]:
# write your answer here
studnet_list = ['ja0964','sa1198','sb1357','vb0218',
                'sc1229','kg0569','kg0470','sg1297',
                'bg0320','fh0141','jl1252','sk1386', 
                'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609',
                'ms1500','aos0040','ds0814','av0659',
                'nv0234','hy0232']
import random
def rand_div_list(list_ele, n): 
    divide = len(list_ele) / float(n) 
    return [ list_ele[int(round(divide * i)): int(round(divide * (i + 1)))] for i in range(n) ]

rand_div_list(studnet_list,6)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'],
 ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'],
 ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'],
 ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'],
 ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'],
 ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [63]:
# write your answer here
def duplicate_ele(nums):
    new_set = set()
    no_duplicate = -1

    for i in range(len(nums)):

        if nums[i] in new_set:
            return nums[i]
        else:
            new_set.add(nums[i])

    return no_duplicate
ele_1 = [1,2.2,3,3,4.2,5,7]
ele_2 = [0.7,7.5,8.9,8.9,10]
ele_3 = [5,72,98,2,1,1,9,9,9,9]
ele_4 = [6,7,8,9,10]
print("Elements in list 1:", ele_1,"\nDuplicate Element :", duplicate_ele(ele_1))
print("Elements in list 2:", ele_2,"\nDuplicate Element :", duplicate_ele(ele_2))
print("Elements in list 3:", ele_3,"\nDuplicate Element :", duplicate_ele(ele_3))
print("Elements in list 4:", ele_4,"\nDuplicate Element :", duplicate_ele(ele_4))

Elements in list 1: [1, 2.2, 3, 3, 4.2, 5, 7]
Duplicate Element : 3
Elements in list 2: [0.7, 7.5, 8.9, 8.9, 10]
Duplicate Element : 8.9
Elements in list 3: [5, 72, 98, 2, 1, 1, 9, 9, 9, 9]
Duplicate Element : 1
Elements in list 4: [6, 7, 8, 9, 10]
Duplicate Element : -1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [70]:
# write your answer here
from datetime import date, timedelta

def sundays_in_year(year):
       #year,month,date
       dt = date(year, 1, 1)
       
       dt += timedelta(days = 6 - dt.weekday())  
       
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
no_of_weeks=0  
for sundays in sundays_in_year(1998):
   no_of_weeks +=1
   print(sundays,"Sunday")
   
print("Total No Of Sundays:",no_of_weeks)

1998-01-04 Sunday
1998-01-11 Sunday
1998-01-18 Sunday
1998-01-25 Sunday
1998-02-01 Sunday
1998-02-08 Sunday
1998-02-15 Sunday
1998-02-22 Sunday
1998-03-01 Sunday
1998-03-08 Sunday
1998-03-15 Sunday
1998-03-22 Sunday
1998-03-29 Sunday
1998-04-05 Sunday
1998-04-12 Sunday
1998-04-19 Sunday
1998-04-26 Sunday
1998-05-03 Sunday
1998-05-10 Sunday
1998-05-17 Sunday
1998-05-24 Sunday
1998-05-31 Sunday
1998-06-07 Sunday
1998-06-14 Sunday
1998-06-21 Sunday
1998-06-28 Sunday
1998-07-05 Sunday
1998-07-12 Sunday
1998-07-19 Sunday
1998-07-26 Sunday
1998-08-02 Sunday
1998-08-09 Sunday
1998-08-16 Sunday
1998-08-23 Sunday
1998-08-30 Sunday
1998-09-06 Sunday
1998-09-13 Sunday
1998-09-20 Sunday
1998-09-27 Sunday
1998-10-04 Sunday
1998-10-11 Sunday
1998-10-18 Sunday
1998-10-25 Sunday
1998-11-01 Sunday
1998-11-08 Sunday
1998-11-15 Sunday
1998-11-22 Sunday
1998-11-29 Sunday
1998-12-06 Sunday
1998-12-13 Sunday
1998-12-20 Sunday
1998-12-27 Sunday
Total No Of Sundays: 52